* {
  box-sizing: border-box;
}
body {
  background: #10101b;
  height: 100%;
}
.container {
  margin-top: 30px;
}

.number-generator {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #b0d9b1;
  padding: 30px;
  text-align: center;
}

.message {
  /* display: none; */
  width: 20%;
  font-size: 28px;
  color: #033e3e;
  border: 2px solid #f2be22;
  border-radius: 5px;
  padding: 20px 0;
}

.number-generator > p:first-child {
  /* color: #; */
  margin-top: 100px;
}

.start-btn {
  margin-top: 50px;
  width: 160px;
  height: 80px;
  padding: 5px;
  border-radius: 10px;
  background-color: #f86f03;
  color: #fff;
  font-weight: bold;
  font-size: 20px;
  text-align: center;
}
.start-btn:focus {
  outline: none;
  box-shadow: none;
}

.notify {
  display: none;
  color: #fff;
  text-align: center;
  margin: 0 auto;
  background: #222436;
  margin-top: 20px;
  border-radius: 15px;
  padding: 5px 20px;
}
.notify-section {
  width: 35%;
  margin: 0 auto;
}
.action-left {
  color: #ff3c5f;
  margin-top: 10px;
}

.try-left {
  display: none;
  color: #000;
  text-align: center;
  font-size: 18px;
  font-weight: bold;
  margin: 0 auto;
  background: #7aff69;
  margin-top: 20px;
  border-radius: 5px;
  padding: 5px 20px;
}

input[type="number"] {
  width: 250px;
  height: 50px;
  padding: 5px;
  font-size: 16px;
  margin: 2px;
  border: 2px solid gray;
  border-radius: 5px;
}
input[type="submit"] {
  width: 80px;
  height: 50px;
  padding: 5px;
  font-size: 16px;
  margin: 2px;
  border: 2px solid gray;
  border-radius: 5px;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
