* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

section {
  padding: 40px 50px;
}

.title-container {
  text-align: center;
  font-size: 36px;
}

.title-container > p {
  font-size: 24px;
}
.select-container {
  padding-top: 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.select-container > p:first-child {
  font-size: 20px;
  color: green;
  font-weight: 500;
  margin-bottom: 10px;
}

select {
  width: 200px;
  padding: 5px;
  margin-bottom: 40px;
  font-size: 18px;
  border-radius: 2px;
}

input {
  outline: none;
  width: 250px;
  height: 50px;
  padding: 5px;
  font-size: 16px;
  border: none;
  margin: 2px;
  /* border: 1px solid gray; */
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input:focus {
  outline: none;
  /* border: 2px solid green; */
}

.show-error {
  display: none;
  color: red;
}

.isOk {
  width: 60px;
  display: none;
  color: green;
  font-size: 18px;
  font-family: "Poppins";
  padding: 10px;
  border-radius: 50%;
}

.isPhone {
  display: none;
  color: gray;
  font-size: 18px;
  padding-left: 5px;
}

.input-container {
  border: 1px solid gray;
  border-radius: 5px;
}
